body{
    background-image: url("bg-intro-desktop.png");
    background-color: rgb(131, 16, 31);
}
nav{
    /* background-color: #cccc; */
    padding: 10px;
    text-align: center;
}
ul a{
    color: white;
    text-decoration: none;
    
    
}

ul li{
    list-style-type: none;
    display: inline;
    padding-left: 20px;
    font-size: 20px;
    
    font-family: 'Raleway', sans-serif;     
}

.card{
    background-color: white;
    text-align: center;
    max-width: 500px;
    margin: 90px auto;
    padding-bottom: 35px;
    padding-top: 5px;
    height: 50vh;
    border-radius: 5px;
    /* backdrop-filter: saturate(10px); */
}
input{
    width: 70%;
    height: 40px;
    border: 1px solid #cccccc;
    /* border-radius: 9px; */
    padding-left: 10px;
}

button{
    width: 73%;
    height: 40px;
    border: 1px solid rgb(131, 16, 31);
    background-color: white;
    font-family: 'Raleway', sans-serif;     
    font-size: 15px ;
    font-weight: bold;
    color: rgb(131, 16, 31);

}
button:hover{
    background-color:rgb(131, 16, 31);
    color: white;
}

}
input:focus{
    outline: 1px solid rgb(131, 16, 31);
}
h3{
    font-family: 'Raleway', sans-serif; 
    color: rgb(131, 16, 31);
    font-size: 30px;
}